/*********************/
   /*BUTTON COLORS*/
/*********************/
$colors:(
    --strong-cyan:hsl(171, 66%, 44%),
    --light-blue:hsl(233, 100%, 69%),
    --dark-grayish:hsl(210, 10%, 33%),
    --Grayish-Blue:hsl(201, 11%, 66%)
);

@function color($colorr){
    @return map-get($colors,$colorr)
};
/*********************/
   /*BUTTON SHERE*/
/*********************/
%btn-share{
    padding:0.8rem 2.5rem;
    display: inline-block;
    color:#fff;
    font-size:1rem;
    font-weight:600;
    margin:1rem;
    opacity:10;
    transition:all 0.3s;
    text-decoration:none;
    //border-radius: 6.25rem;
    /*box-shadow: 0px 4px 0px 0px rgba(27, 133, 117, 0.9);*/
    &:hover{
        opacity:0.3;
    }
}
ul{list-style: none;}
a{text-decoration: none;}

.btn{
   &-ios{
        background: color( --strong-cyan);
        @extend %btn-share;
   }
   &-mac{
     @extend %btn-share;
     background:color(--light-blue);
   }
  }
/*********************/
    /*SETTING GLOBAL*/
/*********************/
p{color:color(--Grayish-Blue);}

.row{
    text-align: center;
    margin: auto;
    padding-top:2rem 0;
    p{
        width:50%;
        margin: auto;
        padding:2rem 0;
    }
}

.img{width:50rem;}


/*********************/
   /*MOBILE GLOBAL*/
/*********************/

@media(max-width:46rem){
    .row{
        p{width:100%;}
    }
}


