/*********************/
   /*SETTING UP*/
/*********************/
@use '../scss/global' as c;

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

body{
  font-size:1.125rem;
  font-family: 'Bai Jamjuree', sans-serif;
}
@mixin flex-columns{
  display:flex;
  justify-content:space-between;
}


@mixin grid-columns{
  display:grid;
  display: grid;
  justify-content: center;
  grid-template-columns: 30rem 30rem 30rem;
}


/*********************/
    /*HERO*/
/*********************/
#hero{
  background-image:url(/img/bg-header-desktop.png);
  height:100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;


  .content{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    flex-direction: column;

    p{
      width:60%;
      margin: auto;
      color: c.color(--Grayish-Blue);
      padding:2rem;
    }

    img{padding-bottom:4rem;}
  }
}
/*********************/
    /*DESKTOP*/
/*********************/
#section-desktop{
  .flex-columns{
    @include flex-columns();
    padding:5rem 0;
    .box{
      margin:4rem 6rem;
      h3{padding:0.8rem 0;}

      p{width:76%;}
    }
  }
}
/*********************/
      /*MOBILE*/
/*********************/
#section-mobile{
  .img{
    display: block;
    margin: auto;
    padding-top:4rem;
  }
}
/*********************/
    /*WORKFLOW*/
/*********************
#section-workflow{
  .flex-columns{
    @include flex-columns();
    text-align: center;
    align-items: center;
    padding:5rem 0;
    .box{
      h3{padding:1rem 0;}

      p{
        width:63%;
        margin-left:6rem;
      }
    }
  }
}
*/

#section-workflow{
  .flex-columns{
   margin: auto;
   text-align: center;
   display: grid;
   justify-content: center;
   grid-template-columns: 30rem 30rem 30rem;
   padding: 5rem 0;
   .box{
    h3{padding:1rem 0}
    p{
      width: 70%;
      text-align: center;
      margin-left: 4.5rem;
    }
   }
  }
}

/*********************/
      /*LOGOS*/
/*********************/
#section-logos{
  @include flex-columns();
  padding:5rem;
}
/*********************/
      /*KEYBOARD*/
/*********************/
#section-keyboard{
  padding:10rem 0;

  .box{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
/*********************/
    /*FOOTER NAV*/
/*********************/
#footer{
  #footer-nav{
    @include flex-columns();
    background:rgb(241, 241, 241);
    padding:2rem 5rem;
    .box:last-child{
      ul{display:flex;}
      li{padding: 0 0.6rem;
        a{
          font-size: 1.5rem;
          color:c.color(--dark-grayish);
          &:hover{color:c.color(--strong-cyan);}
        }
      }
    }
    .box:nth-child(1){
      img{width:3.125rem;}
    }
    .box:nth-child(2),
    .box:nth-child(3),
    .box:nth-child(4){
      padding-bottom:1rem;
      ul li{
        a{
          color:c.color(--dark-grayish);
          &:hover{color:c.color(--strong-cyan);}
        }
      }
    }
  }
}
/*********************/
      /*MOBILE*/
/*********************/

@media(max-width:48rem){
  body{font-size:1rem;}

@mixin flex-columns{
  flex-direction:column;
}
  
#hero{
  background-image:url(/img/bg-header-mobile.png);
  .content{
    //img{width: 100%;}
    p{
      width:100%;
      padding: 2rem;
    }
    h1{font-size:1.8rem;}
  }
}

#section-desktop{
  .flex-columns{
    @include flex-columns();

    padding:5rem 0;
    img{width: 100%;}
    .box{
      margin: 2rem 1rem;
      h3{padding: 0.8rem 0;}

      p{width:100%;}
    }
  }
}
/*
#section-workflow{
  .flex-columns{
    @include flex-columns();
    padding:1;
    margin-right:0;
    .box{margin-top:3rem;
    
      p{
        width:100%;
        margin-left:0;
      }
    }

  }
}
*/
#section-workflow{
  .flex-columns{
   margin: auto;
   text-align: center;
   display: grid;
   justify-content: center;
   grid-template-columns:1fr;
   padding: 5rem 0;
   .box{
    margin-top: 3rem;
    h3{padding:1rem 0}
    p{
      width:100%;;
      text-align: center;
      margin-left:0;
    }
   }
  }
}
#section-logos{
  @include flex-columns();
  align-items: center;
  figure{padding:3rem 0;}
}

#section-keyboard{
  padding:10rem 0;

  .box{@include flex-columns();}

}

#footer{
  #footer-nav{
    @include flex-columns();
    text-align: center;
    justify-content: center;
    align-items: center;
    padding:2rem 3rem;
    .box:nth-child(1),
    .box:last-child{padding-bottom:1rem;}
    
    .box:nth-child(2),
    .box:nth-child(3),
    .box:nth-child(4){
      padding-bottom:1rem;
      ul li{padding:1.5rem 0;}
    }
  }
}

}

@media(max-width:64rem){
  #section-desktop{
    .flex-columns{
      padding:5rem 0;
      img{width: 100%;}

      .box{
        margin:1rem;
        h3{padding:0.8rem 0;}
      }
    }

  }
}